In [1]:
import pandas as pd 
import numpy as np

In [2]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.isna().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [5]:
# replace Age nan in train

real_age = train['Age'][train['Age'].isna() == False]
mean = real_age.mean()
std = real_age.std()
new_dist = np.around(np.random.uniform(mean - std, mean + std, 177), 1)
train['Age'][train['Age'].isna() == True] = new_dist

<ipython-input-5-fa32d7c343c2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Age'][train['Age'].isna() == True] = new_dist

In [6]:
# drop cabin and id column 'cause they useless :(

train = train.drop(columns=['Cabin', 'PassengerId'])
test = test.drop(columns=['Cabin', 'PassengerId'])

In [7]:
# replace Embarked nan in train

train = train.dropna()
train = train.reset_index()

In [8]:
# complete !!!

train.isna().mean()

index       0.0
Survived    0.0
Pclass      0.0
Name        0.0
Sex         0.0
Age         0.0
SibSp       0.0
Parch       0.0
Ticket      0.0
Fare        0.0
Embarked    0.0
dtype: float64

In [9]:
test.isna().mean()

Pclass      0.000000
Name        0.000000
Sex         0.000000
Age         0.205742
SibSp       0.000000
Parch       0.000000
Ticket      0.000000
Fare        0.002392
Embarked    0.000000
dtype: float64

In [10]:
# replace Age and Fare nan in test

real_age_t = test['Age'][test['Age'].isna() == False]
mean = real_age_t.mean()
std = real_age_t.std()
new_age_t = np.around(np.random.uniform(mean - std, mean + std, 86), 1)
test['Age'][test['Age'].isna() == True] = new_age_t

real_fare_t = test['Fare'][test['Fare'].isna() == False]
mean = real_fare_t.mean()
std = real_fare_t.std()
new_fare_t = np.around(np.random.uniform(mean - std, mean + std, 1), 4)
test['Fare'][test['Fare'].isna() == True] = new_fare_t

<ipython-input-10-7115c3ac5051>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Age'][test['Age'].isna() == True] = new_age_t
<ipython-input-10-7115c3ac5051>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Fare'][test['Fare'].isna() == True] = new_fare_t

In [11]:
# complete !!!

test.isna().mean()

Pclass      0.0
Name        0.0
Sex         0.0
Age         0.0
SibSp       0.0
Parch       0.0
Ticket      0.0
Fare        0.0
Embarked    0.0
dtype: float64

In [12]:
train.head()

,index,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [13]:
train2 = train.copy()
test2 = test.copy()

In [14]:
train2.head()

,index,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [15]:
# get surname only and drop index column

train2 = train2.drop(columns=['index'])

for i in range(889):
    train2.iloc[i, 2] = train2.iloc[i, 2].split(',')[0]
for i in range(418):
    test2.iloc[i, 1] = test2.iloc[i, 1].split(',')[0]

In [16]:
print(f'all samples: {len(train2.values)}')
print(f'unique surnames: {len(train2.Name.unique())}')
print(f'unique tickets: {len(train2.Ticket.unique())}')

all samples: 889
unique surnames: 665
unique tickets: 680

In [20]:
train2 = pd.concat([train2, pd.get_dummies(train2.Sex)], axis=1)
train2 = pd.concat([train2, pd.get_dummies(train2.Embarked)], axis=1)

test2 = pd.concat([test2, pd.get_dummies(test2.Sex)], axis=1)
test2 = pd.concat([test2, pd.get_dummies(test2.Embarked)], axis=1)

train2 = train2.drop(columns=['Name', 'Sex', 'Ticket', 'Embarked'])
test2 = test2.drop(columns=['Name', 'Sex', 'Ticket', 'Embarked'])

In [23]:
train2.Age = train2.Age * 10
test2.Age = test2.Age * 10
train2.Fare = train2.Fare * 10000
test2.Fare = test2.Fare * 10000

train2 = train2.astype('int64')
test2 = test2.astype('int64')

In [25]:
data = train2.iloc[:, 1:]
target = train2.iloc[:, 0]
test_data = test2

In [26]:
tr_data = data.iloc[:801, :]
val_data = data.iloc[801:, :].reset_index(drop=True)

tr_target = target[:801]
val_target = target[801:].reset_index(drop=True)

In [27]:
# define trainloop


from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler


def train_loop(models, data):
    
    for model in models: 
        

        train = StandardScaler().fit_transform(data[0])
        val = StandardScaler().fit_transform(data[1])
        
        model[1].fit(train, data[2])
        preds = model[1].predict(val)
        metric = round(accuracy_score(data[3], preds), 4)
        print(f'{model[0]} acc: {metric}')

In [28]:
# try some models

from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier


dataset = [
    tr_data,
    val_data,
    tr_target,
    val_target
]

models = [
    ('logress l1 cl_2_bld', LogisticRegression(penalty = 'l1', class_weight='balanced', max_iter=10000, solver='liblinear')),
    ('logress l2 cl_2_bld', LogisticRegression(penalty = 'l2', class_weight='balanced', max_iter=10000)),
    ('logress l1', LogisticRegression(penalty = 'l1', max_iter=10000, solver='liblinear')),
    ('logress l2', LogisticRegression(penalty = 'l2', max_iter=10000)),
    ('SGD logress', SGDClassifier(loss='log', epsilon=0.003, learning_rate='optimal')),
    ('SGD perceptron', SGDClassifier(loss='perceptron', epsilon=0.003, learning_rate='optimal')),
    ('kneighbors 5', KNeighborsClassifier(n_neighbors=5, weights='distance')),
    ('kneighbors 10', KNeighborsClassifier(n_neighbors=10, weights='distance')),
    ('MLP 10', MLPClassifier(hidden_layer_sizes=[100]*10)),
    ('MLP 50', MLPClassifier(hidden_layer_sizes=[100]*50)),
    ('MLP 100', MLPClassifier(hidden_layer_sizes=[100]*100)),
    ('Forest 100', RandomForestClassifier(n_estimators=100)),
    ('Forest 400', RandomForestClassifier(n_estimators=400)),
    ('Forest 700', RandomForestClassifier(n_estimators=700)),
    ('Forest 1000', RandomForestClassifier(n_estimators=1000))
]

In [29]:
train_loop(models, dataset)

logress l1 cl_2_bld acc: 0.7955
logress l2 cl_2_bld acc: 0.7955
logress l1 acc: 0.8068
logress l2 acc: 0.8068
SGD logress acc: 0.7386
SGD perceptron acc: 0.7273
kneighbors 5 acc: 0.7727
kneighbors 10 acc: 0.7841
MLP 10 acc: 0.8182
MLP 50 acc: 0.6364
MLP 100 acc: 0.6364
Forest 100 acc: 0.8636
Forest 400 acc: 0.8068
Forest 700 acc: 0.8295
Forest 1000 acc: 0.8182

In [43]:
final_model = RandomForestClassifier(n_estimators=100)
final_model.fit(tr_data, tr_target)
preds = pd.Series(final_model.predict(test2), name='Survived')
dop = pd.read_csv('test.csv')['PassengerId']
preds = pd.concat([dop, preds], axis=1)

In [45]:
preds.to_csv('pred.csv', index=False)